<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/aop
        http://www.springframework.org/schema/aop/spring-aop.xsd">

    <bean id="man" class="com.lucky.spring.entity.Man">
        <constructor-arg ref="qqCar"/>
    </bean>
    <bean id="qqCar" class="com.lucky.spring.entity.QQCar"/>
</beans>